body {
    background-image: url('images/Night_Sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #061c3d;
    color: #161A1D;
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #161A1D;
    color: #8690a2;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaeab3;
    padding-top: 1rem;
}

.theme-toggle {
    cursor: pointer;
    text-decoration: underline;
    color: #8690a2;
    font-size: 1rem;
}

.theme-container {
    display: flex;
    justify-content: end;
    color: #8690a2;
    padding-bottom: 1rem;
    padding-right: 3rem;
}

section {
    padding: 2rem;
    margin: 1rem 0;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #0c3776;
    width: 60%;
    max-width: 350px;
    height: 40px;
    background-color: #eaeab3;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #0a2f65;
    border-radius: 5px;
}

.search-bar {
    padding-top: 14px;
    display: flex;
}

input {
    margin-right: auto;
    margin-left: auto;
    background-color: #eaeab3;
    color: #0c3776;
    border: 2px solid #0a2f65;
    border-radius: 7px;
    text-align: center;
}

input::placeholder {
    color: #0a2e659c;
}

.Game-Section {
    width: 80%;
    background-color: #eaeab3;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 700px;
    color: #0c3776;
    border: 2px solid #0a2f65;
}

.game-title {
    text-align: center;
}

