body {
    background-image: url('images/Night_Sky.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;;
    background-position: center;
    background-color: #061c3d;
    background-attachment: fixed;
    color: #161A1D;
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #161A1D;
    color: #8690a2;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaeab3;
    padding-top: 1rem;
}

.theme-toggle {
    cursor: pointer;
    text-decoration: underline;
    color: #8690a2;
    font-size: 1rem;
}

.theme-container {
    display: flex;
    justify-content: end;
    color: #8690a2;
    padding-bottom: 1rem;
    padding-right: 3rem;
}

section {
    padding: 2rem;
    margin: 1rem 0;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c3776;
    gap: 20px;
    width: 70%;
    max-width: 480px;
    min-width: 450px;
    height: 40px;
    background-color: #eaeab3;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #0a2f65;
    border-radius: 5px;
}



.dropdown-button:hover h4 {
    text-shadow: 1.5px 1.5px rgb(231, 209, 96);
}

.dropdown-button .rating-content {
    display: none;
    position: absolute;
    background-color: #eaeab3;
    padding-left: 10px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-button .platform-content {
    display: none;
    position: absolute;
    background-color: #eaeab3;
    padding-left: 10px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-button .year-content {
    display: none;
    position: absolute;
    background-color: #eaeab3;
    padding-left: 10px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-button .genre-content {
    display: none;
    position: absolute;
    background-color: #eaeab3;
    padding-left: 10px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-button .publisher-content {
    display: none;
    position: absolute;
    background-color: #eaeab3;
    padding-left: 10px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-button .developer-content {
    display: none;
    position: absolute;
    background-color: #eaeab3;
    padding-left: 10px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-button:hover div {
    display: block;
}

.checkbox-list {
    list-style: none;
    columns: 4;
    column-gap: 20px;
}

.rating-content ul {
    columns: 1;
}

.genre-content ul {
    columns: 3;
}

.checkbox-list li {
    break-inside: avoid;
    margin-bottom: 6px;
}

.tagify__dropdown--custom {
    background-color: #eaeab3;
    border-radius: 5px;
}

.tagify__dropdown--custom .tagify__dropdown__item {
    background-color: #eaeab3;
    color: #0c3776;
    border-radius: 5px;
}

.tagify__dropdown--custom .tagify__dropdown__item:hover {
    background-color: #eaeab3;
}


.dropdown-button:hover .publisher-content {
    width: 200px;
    max-height: 600px;
}


.checkbox-list {
    list-style: none;
    columns: 4;
    column-gap: 20px;
}

.rating-content ul {
    columns: 1;
}

.genre-content ul {
    columns: 3;
}

.checkbox-list li {
    break-inside: avoid;
    margin-bottom: 6px;
}


.tagify-publisher {
    width: 100%;
    min-width: 200px;
    box-sizing: border-box;
    display: block;
    padding: 5px;

}

.tagify {
    height: 100%;
    width: 100%;
}

.tagify__input {
    min-width: 50px;
    max-width: 80px;
}



.second-filter-line {
    display: flex;
}

.search-and-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding-top: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    padding-bottom: 15px;
}

.search-and-select p {
    color: #eaeab3;
    height: 10px;
    font-size: 16px;
    text-align: center;
}

input, select {
    background-color: #eaeab3;
    color: #0c3776;
    border: 2px solid #0a2f65;
    border-radius: 7px;
    text-align: center;
}

.search-algorithm select {
    width: 120px;
}

.game-title input {
    width: 140px;
}


input {
    height: 17px;
}

select {
    height: 25px;
}

.filter-button {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 0;
}


button {
    background-color: #0d3e86;
    color: #d3d3a4;
    border: 1px solid #d3d3a4;
    border-radius: 7px;
    text-align: center;
    width: 110px;
    height: 30px;
}

button:hover {
    border: 2px solid #d3d3a4;
}

input::placeholder {
    color: #0a2e659c;
}


.Game-Section {
    width: 80%;
    background-color: #eaeab3;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 700px;
    color: #0c3776;
    border: 2px solid #0a2f65;
}

.game-title {
    text-align: center;
}

